body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(236, 247, 250);
}
#scrollToTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #007bff;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

.container1 {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .container3 {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  h1, h2, h3 {
    
    text-align: center;
  }

nav {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

nav h1 {
    margin: 0;
    font-size: 24px;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
}

nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
}

header {
    background-color: #f0f0f0;
    text-align: center;
    padding: 60px 0;
}

header h2 {
    margin: 0;
}

section {
    padding: 60px 0;
}

section h2 {
    color: #333;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    display: inline-block;
    margin-right: 20px;
    font-weight: bold;
}

#portfolio .project {
    display: flex;
    margin-bottom: 30px;
}

#portfolio .project img {
    max-width: 200px;
    margin-right: 20px;
    border-radius: 5px;
    border: 3px outset blueviolet;

}

form label {
    display: block;
    margin: 10px 0;
}

form input,
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

form input[type="submit"] {
    background-color: #333;
    color: #fff;
    cursor: pointer;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #f0f0f0;
    color: #333;
}

.social-media a {
    margin-right: 10px;
}

.social-media img {
    width: 30px;
    height: 30px;
}

a {
    color: #efaa14;
    text-decoration: none;
    font-weight: bold;
  }

  a:hover {
    text-decoration: underline;
  }